@import "~stylesheets/global";

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.33;
}

.fadeIn-appear {
  transition: opacity 500ms;
  opacity: 0;
}

.fadeIn-appear-active {
  opacity: 1;
}

.logo {
  position: fixed;
  top: 1.5em;
  left: 0;
  width: 100%;
  text-align: center;

  img {
    max-width: 10em;
  }
}

.header,
.instructions {
  @extend .blue-text;
}

.header {
  margin: 1em 0 0.5em 0;
  font-size: 2em;
}

.instructions {
  margin: 0.5em 0 2em 0;
  font-size: 1.2em;
}

.moreDetails {
  margin-top: 2em;
  font-size: 0.8em;
  text-align: center;
  color: rgba(gray, 0.5);
}

.button {
  width: 100%;
  margin-top: 1.5em;
}

@media #{$small-and-down} {
  .root {
    padding: 1em;
  }

  .auth {
    max-width: 38em;
  }

  .header,
  .instructions {
    margin-left: 0.5rem;
  }
}

@media #{$medium-and-up} {
  .auth {
    max-width: 38em;
  }

  .header,
  .instructions {
    text-align: center;
  }
}

/**
 * Dark Theme
 */
.theme-dark {
  .logo {
    filter: brightness(1);
  }

  .header,
  .instructions {
    color: $theme-dark-text !important;
    font-family: 'Major Mono Display';
  }

  .moreDetails {
    color: gray;
  }
}
