@import '~stylesheets/_global.scss';

.root {
  composes: input-field from '~stylesheets/_global.scss';
  margin: 0;
}

.input ~ label {
  width: 100%;
}

.error label {
  $error-indicator-size: 0.33em;

  &:before {
    content: '';
    position: absolute;
    top: calc(50% - #{$error-indicator-size / 2});
    left: -#{$error-indicator-size * 2};
    display: block;
    width: $error-indicator-size;
    height: $error-indicator-size;
    border-radius: 50%;
    @extend .red;
    opacity: 0.5;
  }
}

.withLabel {
  padding-top: 2em;
}

.icon,
.required {
  transition: color 0.33s !important;
}

.prefix {
  composes: prefix from '~stylesheets/_global.scss';
}

.withIcon .input {
  margin-left: 2.5em !important;
  border-color: red;
}

// when required is present with a preceding span (label text), bump it right a bit
.input label :nth-child(2) {
  margin-left: 2em;
}

// stop the material label animation for auto-filled values
.input:-webkit-autofill ~ label {
  transform: unset !important;
}

.input:focus {
  border-bottom: 1px solid $theme-primary-color !important;
  box-shadow: 0 1px 0 0 $theme-primary-color !important;

  & ~ label {
    color: $theme-primary-color !important;
  }

  & ~ label .required {
    color: rgba(#000, 0.5);
  }

  & ~ .icon {
    color: $theme-primary-color;
  }
}

.required {
  float: right;
  vertical-align: middle;
  font-variant: small-caps;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  color: rgba(#000, 0);
}

/**
 * Dark theme
 */
.root.theme-dark {
  .input {
    box-sizing: border-box;
    width: 100%;
    margin: 0.66em 0;
    padding: 0.5em 0.8em;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid $theme-dark-black-1;
    background-color: $theme-dark-gray-2;
    color: $theme-dark-text;
  }

  // a very annoying hack to prevent chrome and safari from
  // overriding -webkit-autofill properties
  @-webkit-keyframes autofill {
    0%, 100% {
      color: $theme-dark-text;
      background-color: $theme-dark-gray-2;
    }
  }
  input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }

  .input::placeholder {
    opacity: 0.33;
  }

  .input:-webkit-autofill ~ label {
    transform: translateY(1em) scale(1) !important;
  }

  .input:focus {
    border: 1px solid $theme-primary-color;
    box-shadow: unset !important;
  }

  label {
    font-size: 0.8em;
    text-transform: uppercase;
  }
}
