/**
 * Material Icon
 */

@import "~stylesheets/materialize.scss";

.root {
  font-size: 100%;
  vertical-align: top;
}

.small {
  font-size: 100%;
}

.medium {
  font-size: 200%;
}

.large {
  font-size: 500%;
}

.primary {
  @extend .blue-text;
}
