@import "~stylesheets/_global.scss";

.root {
  composes: card from '~stylesheets/_global.scss';
  border-radius: 5px;
}

.content {
  composes: card-content from '~stylesheets/_global.scss';
}

.title {
  composes: card-title from '~stylesheets/_global.scss';
  margin-bottom: 1.5em !important;
  padding-bottom: 0.75em;
  border-bottom: 1px solid rgba(#000, 0.2);
}

.subtitle {
  margin-bottom: 2em;
  padding-top: 0.5em;
  font-weight: bold;
}

.tag {
  position: absolute;
  top: 2em;
  right: 2em;
  color: rgba(#000, 0.5);
  font-weight: bold;
}

.asset {
  composes: card-image from '~stylesheets/_global.scss';
}

.actions {
  composes: card-action from '~stylesheets/_global.scss';
}

@media #{$small-and-down} {
  .content {
    padding: 1em !important;
  }

  .withTag .title {
    padding-bottom: 2em;
  }

  .tag {
    font-size: 75%;
    left: 1.5em;
    top: 5em;
    right: unset;
  }
}

/**
 * Dark Theme
 */
.root.theme-dark {
  background-color: $theme-dark-gray;

  .title {
    color: $theme-dark-text;
  }

  .tag {
    filter: saturate(0.6);
  }
}
