/**
 * Buttons
 */

@import "~stylesheets/_global.scss";

.root {
  composes: btn from '~stylesheets/_global.scss';
  display: inline-flex;
  justify-content: center;
  user-select: none;
  @extend .blue;

  &:hover {
    @extend .blue, .lighten-1;
  }

  &:active {
    @extend .blue, .darken-1;
  }

  i {
    margin: 0 0.5em;
    font-size: 100% !important;
    vertical-align: top;
  }
}

.icon {
  margin-left: 0.5em;
}

/**
 * Dark Theme
 */
.root.theme-dark {
  transition: opacity 0.33s;

  &[disabled] {
    opacity: 0.66;
    @extend .blue;
  }
}
