/**
 * Collection Item
 */

@import "~stylesheets/_global.scss";

.root {
  composes: collection-item avatar from '~stylesheets/_global.scss';
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.root.hasActions {
  padding-right: 3.5em;
}

.icon {
  composes: circle from '~stylesheets/_global.scss';
  background-color: #007BFF !important;
}

.title {
  composes: title from '~stylesheets/_global.scss';
}

.hasOnClick,
.hasActions {
  cursor: pointer;
  transition: background-color 0.33s;

  &:hover {
    background-color: rgba(#000, 0.01);
  }
}

.action {
  position: absolute;
  top: 1em;
  right: 1em;
  composes: secondary-content from '~stylesheets/_global.scss';
}

/**
 * Dark Theme
 */
.root.theme-dark {
  background-color: $theme-dark-gray;
  border-radius: 5px;
  border-bottom: 0;
  @extend .z-depth-3;
  color: $theme-dark-text;

  .icon,
  .action {
    filter: saturate(0.4);
  }
}
