/**
 * Badge
 */

@import "~stylesheets/materialize.scss";

.root {
  composes: new badge from '~stylesheets/materialize.scss';
  margin: 0 !important;
  padding: 0.33em 0.66em !important;
  border-radius: 0.25em !important;
  float: unset !important;
  letter-spacing: 0.1em;

  &:after {
    content: '' !important;
  }
}

.small {
  font-size: 75% !important;
}

.normal {
  font-size: 100% !important;
}

.medium {
  font-size: 150% !important;
}

.large {
  font-size: 200% !important;
}

.defaultColor {
  @extend .blue;
}

.green {
  @extend .green;
}

.yellow {
  @extend .yellow;
}

.red {
  @extend .red;
}

.grey {
  @extend .grey;
}
