@import "~stylesheets/_global.scss";

.root,
.body {
  width: 100%;
}

.full {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media #{$medium-and-up} {
  .root {
    margin: 1em;
  }
}
