/**
 * Nav Bar
 */

@import "~stylesheets/_global.scss";

.root {}

.navWrapper {
  composes: nav-wrapper from '~stylesheets/_global.scss';
  @extend .blue, .darken-1;
  margin-left: $side-nav-width;
  padding-left: 1em;
}

.title {
  display: inline-block;
  margin: 0;
  font-size: 1.5em;
  line-height: 1.8;
}

.items {
  @extend .blue, .darken-2;
}

.icon {
  margin-right: 0.330em;
}

.right {
  composes: right from '~stylesheets/_global.scss';
}
