/**
 * Common variables.
 */

// colors
$theme-color: #4C8FF4;
$danger: #FF1D31;
$warning: #FFD400;
$success: #00B376;
$cognosos: #007BFF;

// background and text
$background: rgba($theme-color, 0.1);
$font-family: 'Roboto', sans-serif;

//form units
$form-element-size: 2.25em;

// component dimensions
$side-nav-width: 6em;
