@import "~stylesheets/_global.scss";

.row {
  composes: row from '~stylesheets/_global.scss';
  display: flex;
  flex-direction: row;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gutterless {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
