@import '~stylesheets/materialize.scss';

.root {
  display: inline-flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.button label {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  line-height: 1.2;
  font-size: 1em;
  cursor: pointer;
  user-select: none;

  label {
    margin: 0;
    cursor: pointer;
  }

  input {
    order: 1;
    border-radius: 50%;
  }

  > input[type=checkbox] {
    flex-grow: 0;
    flex-basis: 1em;
    margin-left: 0.66em;
    height: auto;
  }

  > span {
    margin-left: 0.75rem;
  }
}

.input {
  display: none;
}

.radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  margin: 0.5rem 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  color: #666;
  background-color: #EEE;
  cursor: pointer;
  transition: background-color 0.4s;

  &:before {
    content: '';
    position: absolute;
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    display: block;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0;
  }
  
  &:hover {
    color: #000;
    background-color: #DADADA;
  }
}

.button label:hover {
  .radio {
    background-color: #DADADA;
  }

  .radio:before {
    opacity: 0.33;
    @extend .blue;
  }
}

.input:checked ~ .radio {
  @extend .blue;

  &:before {
    opacity: 0;
  }
}
