@import "~stylesheets/variables.scss";

.root {
  composes: container from '~stylesheets/materialize.scss';
}

.full {
  width: 100%;
  height: 100%;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gutterless {
  width: 100%;
}
