@import "~stylesheets/_global.scss";

.root {
  composes: container from '~stylesheets/_global.scss';
}

.full {
  width: 100% !important;
  height: 100% !important;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gutterless {
  width: 100% !important;
}
