@import "~stylesheets/global";

.root {}

.search {
}

.filter {
  margin: -1em 0 -0.5em !important;
}

.sortSettings {
  display: flex;
  flex-direction: row;
}

.sortSetting {
  flex: 1;
  line-height: 3em;
  align-items: center;
}

.sortOrder {
  justify-content: center;
}

.devices {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1.5em;

  .device {
    cursor: pointer;

    > div {
      transition: background-color 0.2s;
    }

    &:hover > div {
      background-color: lighten($theme-dark-gray, 1%) !important;
    }
  }
}

.paginationTop,
.paginationBottom {
  width: 40% !important;
}

.paginationTop {
  margin: 3em auto 1em auto;
}

.paginationBottom {
  margin: 1em auto 3em auto;
}

.title {
  padding-top: 1.5em;
}

.description {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 0;
}

@media #{$small-and-down} {
  .sortSettings {
    flex-direction: column;
  }

  .sortSetting > div > label {
    padding-right: 3em !important;
  }

  .sortSetting > div > div,
  .sortSetting > div > label {
    flex: 1 !important;
  }

  .sortSetting + .sortSetting {
    margin-top: 1em;
  }
}

@media #{$medium-and-up} {
  .sortSetting + .sortSetting {
    margin-left: 2em;
  }

  .meter {
    max-width: 20em;
  }
}

@media (min-width: 930px) {
  .devices {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  .devices {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**
 * Dark Theme
 */
.theme-dark {
  font-family: Arial;

  label {
    text-transform: uppercase;
  }

  .detail {
    font-family: 'Roboto Mono';
  }
}
