@import '~stylesheets/materialize.scss';

.root {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.root label {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  cursor: pointer;
  user-select: none;

  label {
    margin: 0;
    cursor: pointer;
  }

  input {
    order: 1;
    border-radius: 3px;
  }

  > input[type=checkbox] {
    flex-grow: 0;
    flex-basis: 1em;
    margin-left: 0.66em;
    height: auto;
  }

  > span {
    margin-left: 0.75rem;
  }
}

.input {
  display: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  margin: 0.5rem 0;
  padding: 0;
  border: none;
  border-radius: 3px;
  color: #666;
  background-color: #EEE;
  cursor: pointer;
  transition: background-color 0.4s;
  
  &:hover {
    color: #000;
    background-color: #DADADA;
  }

  i {
    opacity: 0;
    position: absolute;
    padding: 0.2em;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    background-color: transparent;
    transition: opacity 0.3s;
  }
}

.input:checked ~ .checkbox {
  @extend .blue;

  i {
    opacity: 1;
  }
}
